<section class="container g-py-100">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-9 col-lg-6">
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
        <header class="text-center mb-4">
          <h2 class="h2 g-color-black g-font-weight-600">Signup</h2>
        </header>

        <!-- Form -->
        <form class="g-py-15">
          <div class="row">
            <div class="col-xs-12 col-sm-6 mb-4">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="email" placeholder="John">
            </div>

            <div class="col-xs-12 col-sm-6 mb-4">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="tel" placeholder="Doe">
            </div>
          </div>

          <div class="mb-4">
            <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="email" placeholder="johndoe@gmail.com">
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 mb-4">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="password" placeholder="Password">
            </div>

            <div class="col-xs-12 col-sm-6 mb-4">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="password" placeholder="Password">
            </div>
          </div>

          <div class="mb-4">
            <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25">
              <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
              <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                <i class="fa" data-check-icon=""></i>
              </div>
              I accept the Terms and Conditions
            </label>
          </div>
          <button class="btn btn-md btn-block u-btn-primary g-rounded-50 g-py-13 mb-4" type="button">Signup</button>
        </form>
        <!-- End Form -->

        <footer class="text-center">
        </footer>
      </div>
    </div>
  </div>
</section>
