<section class=" g-pt-100 g-pb-70 g-bg-secondary">
  <div class="container">
    <div class="row justify-content-center g-mb-60">
      <div class="col-lg-7">
        <!-- Heading -->
        <div class="text-center">
          <h2 class="h3 g-color-black text-uppercase mb-2">Rencontrer notre comité</h2>
          <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
        </div>
        <!-- End Heading -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/assets/img/team/TurkChristian.jpg" alt="Image description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">Christian Turk</h4>
                <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Président</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
                <li class="list-inline-item">
                  <a href="mailto:christian.turk@avpro.lu"
                     class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                </li>
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>
      <div class="col-lg-7 col-md-6 g-mb-30 d-flex flex-column text-right align-content-center">
        <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
          <h2 class="text-uppercase u-heading-v2__title g-mb-10">Christian Turk </h2>
        </div>
        <p>
          Président
        </p>
        <ul class="u-list-inline">
          <li class="list-inline-item g-mb-10">
            <span
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              >Luxembourgeois</span>
          </li>
          <li class="list-inline-item g-mb-10">
            <span
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              >Allemand</span>
          </li>
          <li class="list-inline-item g-mb-10">
            <span
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              >Français</span>
          </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-6 g-mb-30 d-flex flex-column justify-content-center align-content-center">
        <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
          <h2 class="text-uppercase u-heading-v2__title g-mb-10">Mike Kill</h2>
        </div>
        <p>
          Vice-président
        </p>
        <ul class="u-list-inline">
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Luxembourgeois</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Allemand</a>
          </li>
        </ul>

      </div>
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/assets/img/team/MikeKill.jpg" alt="Image description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">Mike Kill</h4>
                <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Vice
                  Président</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
                <li class="list-inline-item">
                  <a href="mailto:mike.kill@avpro.lu"
                     class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                </li>
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/assets/img/team/SidMysore.jpg" alt="Image description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">Sid Mysore</h4>
                <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary"
                    i18n>Secretaire</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
                <li class="list-inline-item">
                  <a href="mailto:sid.mysore@avpro.lu"
                     class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                </li>
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>
      <div class="col-lg-7 col-md-6 g-mb-30 d-flex flex-column justify-content-center align-content-center">
        <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
          <h2 class="text-uppercase u-heading-v2__title g-mb-10">Sid Mysore</h2>
        </div>
        <p>
          Secrétaire
        </p>
        <ul class="u-list-inline">
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Luxembourgeois</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Allemand</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Français</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Anglais</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-6 g-mb-30 d-flex flex-column justify-content-center align-content-center">
        <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
          <h2 class="text-uppercase u-heading-v2__title g-mb-10">Véronique Pelt</h2>
        </div>
        <p>
          Membre
        </p>
        <ul class="u-list-inline">
          <li class="list-inline-item g-mb-10">
            <span
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Français</span>
          </li>
          <li class="list-inline-item g-mb-10">
            <span
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Anglais</span>
          </li>
        </ul>

      </div>
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/assets/img/team/VeroniquePelt.jpg" alt="Image description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">Veronique Pelt</h4>
                <em
                  class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Administrateur</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
                <li class="list-inline-item">
                  <a href="mailto:veronique.pelt@avpro.lu"
                     class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                </li>
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/assets/img/team/CeciliaDelapierre.jpg" alt="Image description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">Cécilia Delapierre</h4>
                <em
                  class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Administrateur</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
                <li class="list-inline-item">
                  <a href="mailto:cecilia.delapierre@avpro.lu"
                     class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                </li>
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>
      <div class="col-lg-7 col-md-6 g-mb-30 d-flex flex-column justify-content-center align-content-center">
        <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
          <h2 class="text-uppercase u-heading-v2__title g-mb-10">Cécilia Delapierre</h2>
        </div>
        <p>
          Membre
        </p>
        <ul class="u-list-inline">
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Français</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-6 g-mb-30 d-flex flex-column justify-content-center align-content-center">
        <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
          <h2 class="text-uppercase u-heading-v2__title g-mb-10">Louis Campbell</h2>
        </div>
        <p>
          Trésorier
        </p>
        <ul class="u-list-inline">
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Luxembourgeois</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Allemand</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a
              class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
              href="#">Anglais</a>
          </li>
        </ul>

      </div>
      <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
          <!-- Figure Image -->
          <img class="w-100" src="/assets/img/team/CampbellLouis.jpg" alt="Image description">
          <!-- End Figure Image-->

          <!-- Figure Info -->
          <figcaption class="u-block-hover__additional--partially-slide-up g-mx-15">
            <div class="text-center g-bg-white g-pb-20">
              <!-- Figure Info -->
              <div class="u-block-hover__visible g-pt-20 g-pb-15 g-y-20">
                <h4 class="h5 g-color-black g-mb-5">Louis Campbell</h4>
                <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Trésorier</em>
              </div>
              <!-- End Info -->

              <!-- Figure Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
                <li class="list-inline-item">
                  <a href="mailto:louis.campbell@avpro.lu"
                     class="u-icon-v1 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent">
                    <i class="fas fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                </li>
              </ul>
              <!-- Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Info-->
        </figure>
        <!-- End Team Block -->
      </div>
    </div>
    <article style="margin-bottom: 5vh">
      <div class="row">
        <h2 class="text-uppercase u-heading-v2__title g-mb-10">Ronny Mozek</h2>
      </div>
      <div class="row">
        <p>Administrateur</p>
      </div>
      <div class="row">
        <h2 class="text-uppercase u-heading-v2__title g-mb-10">Toni Fuentes</h2>
      </div>
      <div class="row">
        <p>Administrateur</p>
      </div>
    </article>

    <div class="text-justify">
      <div class="u-heading-v2-1--bottom g-brd-primary g-mb-30">
        <h2 class="text-uppercase u-heading-v2__title g-mb-10">À qui vous adresser ?</h2>
      </div>
      <h3>Relations institutionnelles et politiques</h3>
      <ul>
        <li>Christian Turk</li>
        <li>Mike Kill</li>
      </ul>
      <h3>Relations transfrontalières francophones:</h3>
      <ul>
        <li>Cécilia Delapierre</li>
        <li>Véronique Pelt</li>
      </ul>
      <h3>Relations transfrontalières germanophones: </h3>
      <ul>
        <li>Christian Turk</li>
        <li>Sid Mysore</li>
      </ul>
      <h3>Adhésions et gestion du site:</h3>
      <ul>
        <li>Louis Campbell</li>
      </ul>
      <h3>Affaires juridiques :</h3>
      <ul>
        <li>Andreas Komnimos</li>
        <li>Nathalie Frisch</li>
      </ul>
      <h3>Relations Membres :</h3>
      <ul>
        <li>Christian Turk</li>
        <li>Mike Kill</li>
        <li>Sid Mysore</li>
        <li>Cécilia Delapierre</li>
        <li>Véronique Pelt</li>
      </ul>
    </div>
  </div>
</section>

