<section class="container" *ngIf="post">
  <section
    class="g-bg-cover g-bg-size-cover g-bg-white-gradient-opacity-v1--after"
    [ngStyle]="{ backgroundImage: 'url(' + post.gallery[0].url + ')' }"
  >
    <div class="container text-center g-pos-rel g-z-index-1 g-pb-50">
      <div class="row d-flex justify-content-center align-content-end flex-wrap g-min-height-500">
        <div class="col-lg-7 mt-auto"></div>
      </div>
    </div>
  </section>
  <article class="g-mb-60 container">
    <h2 class="g-color-black g-font-weight-600 text-center g-mb-30">{{ post.title }}</h2>
    <p [innerHTML]="post.content"></p>
  </article>
</section>
<div class="spinner" *ngIf="!post"></div>
