section.container
  margin-top: 7vh

.spinner
  width: 40px
  height: 40px
  margin: 20vh auto
  background-color: #333
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out
  animation: sk-rotateplane 1.2s infinite ease-in-out

article
  margin-top: 5vh

@keyframes sk-rotateplane
  0%
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  50%
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  100%
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
