<article class="g-mb-100">
  <div class="g-mb-30">
    <div class="media g-mb-25">
      <div class="media-body">
        <h4 class="h6 g-color-primary mb-0">Author : {{ post.author }}</h4>
        <span class="d-block g-color-gray-dark-v4 g-font-size-12">{{ post.publicationDate | date }}</span>
      </div>
    </div>

    <img class="img-fluid w-100 g-mb-25" src="{{ post.gallery[0].url }}" alt="Image Description" />
    <h2 class="h4 g-color-black g-font-weight-600 mb-3">
      <a class="u-link-v5 g-color-black g-color-primary--hover" [routerLink]="['/posts/' + post.id]">{{
        post.title
      }}</a>
    </h2>
    <p class="g-color-gray-dark-v4 g-line-height-1_8">
      {{ post.excerpt }}
    </p>
    <a class="g-font-size-13" [routerLink]="['/posts/' + post.id]">Read more...</a>
  </div>

  <ul
    class="d-flex justify-content-end list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0"
    *ngIf="post.facebook || post.linkedin"
  >
    <li class="list-inline-item" *ngIf="post.facebook">
      <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="{{ post.facebook }}">
        <i class="align-middle g-color-primary g-font-size-default mr-1 fab fa-facebook-f"></i>
        Facebook
      </a>
    </li>
    <li class="list-inline-item" *ngIf="post.linkedin">
      <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="post.linkedin">
        <i class="align-middle g-color-primary g-font-size-default mr-1 fab fa-linkedin-in"></i>
        Linkedin
      </a>
    </li>
  </ul>
</article>
