<section class="container">
  <div class="shortcode-html">
    <div class="u-heading-v2-5--bottom g-mb-40">
      <h2 class="u-heading-v2__title g-mb-10">Pourquoi la valorisation a-t-elle tant d’importance pour nous ?</h2>
      <h4 class="g-font-weight-200">Valoriser, donner de la valeur, accorder une importance plus grande à quelqu'un, à
        quelque chose.</h4>
    </div>

    <p>
      Si aujourd’hui l’école ne cultive qu’une forme abstraite d’intelligence, qui ne s’exprime que par des mots et des
      idées fixées par la mémoire, il en existe beaucoup d’autres qui donne à notre Société la possibilité de répondre
      collectivement aux défis d’aujourd’hui et de demain. L’objectif de notre association est de valoriser les
      intelligences multiples, de façon à ce que les regards portés sur certaines d’entre elles évoluent et que les
      compétences de chacun puissent être reconnues comme telles, en dehors de toute opposition intellectuel/manuel.
    </p>
  </div>
</section>


