<header id="js-header" class="u-header--sticky-top u-header u-header--statics u-header--change-appearance"
        data-header-fix-moment="300">
  <div
    class="u-header__section  u-header__section--light g-bg-white g-transition-0_3 g-py-15"
    data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button
          class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
          type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
          data-toggle="collapse" data-target="#navBar"  [attr.aria-expanded]="isExpanded" (click)="toggle()">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a [routerLink]="['/']" class="navbar-brand g-mr-50--lg">
          <img src="../../assets/img/logo/navigation_logo.svg" alt="Image Description" style="width: 150px">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm" id="navBar"
             [ngClass]='{"show": isExpanded}'>
          <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
            <li class="nav-item g-mx-25--lg" [routerLinkActive]='["link-active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
              <a href="#" class="nav-link nav-link-blue px-0" [routerLink]='["/"]' i18n>Accueil
              </a>
            </li>
            <li class="nav-item g-mx-25--lg" [routerLinkActive]='["link-active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
              <a href="#" class="nav-link nav-link-green px-0" [routerLink]='["/about-us"]' i18n>A Propos
              </a>
            </li>
            <li class="nav-item g-mx-25--lg" [routerLinkActive]='["link-active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
              <a href="#" class="nav-link nav-link-green px-0" [routerLink]='["/team"]' i18n>Team
              </a>
            </li>
            <li class="nav-item g-mx-25--lg" [routerLinkActive]='["link-active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
              <a href="#" class="nav-link nav-link-lightgreen px-0" [routerLink]='["/contact"]' i18n>Contact
              </a>
            </li>
          </ul>
        </div>

        <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
          <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" target="_blank" href="https://forms.gle/AFHKMFqQqFjtAXYy5" >Rejoignez-nous!</a>
        </div>

        <!-- End Navigation -->

      </div>
    </nav>
  </div>
</header>



