.nav-link-blue
  &:hover
    color: #067797 !important

.nav-link-green
  &:hover
    color: #1d71b8 !important

.nav-link-darkblue
  &:hover
    color: #123d58 !important

.nav-link-lightgreen
  &:hover
    color: #31ac68 !important

.nav-link-darkgreen
  &:hover
    color: #31ac68 !important
