<div class="col-lg-3 order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-80">
  <div class="g-pr-20--lg">
    <!-- Links -->
    <div class="g-mb-50">
      <h3 class="h5 g-color-black g-font-weight-600 mb-4">Links</h3>
      <ul class="list-unstyled g-font-size-13 mb-0">
        <li>
          <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> People</a>
        </li>
        <li>
          <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> News Publications</a>
        </li>
        <li>
          <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Marketing &amp; IT</a>
        </li>
        <li>
          <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Business Strategy</a>
        </li>
        <li>
          <a class="d-block active u-link-v5 g-color-black g-bg-gray-light-v5 g-font-weight-600 g-rounded-50 g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Untold Stories</a>
        </li>
      </ul>
    </div>
    <!-- End Links -->

    <hr class="g-brd-gray-light-v4 g-mt-50 mb-0">

    <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-50" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end" style="width: 234.016px; height: 1002.38px;">
      <!-- Publications -->

      <hr class="g-brd-gray-light-v4 g-my-50">

      <!-- Tags -->
      <div class="g-mb-40">
        <h3 class="h5 g-color-black g-font-weight-600 mb-4">Tags</h3>
        <ul class="u-list-inline mb-0">
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Graphic</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Front End Development</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">CSS</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">HTML</a>
          </li>
          <li class="list-inline-item g-mb-10">
            <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Sass</a>
          </li>
        </ul>
      </div>
      <!-- End Tags -->

      <hr class="g-brd-gray-light-v4 g-my-50">

      <!-- Newsletter -->
      <div class="g-mb-50">
        <h3 class="h5 g-color-black g-font-weight-600 mb-4">Newsletter</h3>
        <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn u-btn-primary g-rounded-left-50 g-py-13 g-px-20">
                        <i class="icon-communication-062 u-line-icon-pro g-pos-rel g-top-1"></i>
                      </button>
                    </span>
          <input class="form-control g-brd-primary g-placeholder-gray-dark-v5 border-left-0 g-rounded-right-50 g-px-15" type="email" placeholder="Enter your email ...">
        </div>
      </div>
      <!-- End Newsletter -->
    </div>
  </div>
</div>
