  <section >
    <div class="container text-center g-py-50--md g-py-20">
      <p class="lead text-center g-px-100--md g-mb-20">
        Vous êtes apprenti ou professionnel passionné par votre métier,<br>
        Vous souhaitez faire reconnaître votre diplôme ou expérience professionnelle,<br>
        Vous vous interrogez par rapport à votre parcours professionnel et vous ne savez pas comment valoriser vos compétences,<br>
        AVPro est là pour vous accompagner et vous soutenir dans votre parcours professionnel et de formation.<br>
      </p>
      <a class="btn btn-md u-btn-primary rounded-0" target="_blank" href="https://forms.gle/AFHKMFqQqFjtAXYy5">Rejoignez-nous !</a>
    </div>
  </section>

