<div class="g-bg-secondary g-py-100">
  <div class="container">
    <div id="shortcode5-1">
      <div class="shortcode-html">
        <div class="row">
          <div class="col-lg-6 g-mb-50 g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
              <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">A propos</h2>
            </div>

            <p>Professionnels issus de divers secteurs, et notamment celui de l’éducation, nous sommes plus
              que conscients des difficultés rencontrées par des professionnels et étudiants à faire valoir leurs
              compétences.
            </p>
            <p>
              Toute personne devrait avoir droit de s’épanouir au sein de son métier ou sa profession et être reconnu,
              que ce soit au niveau de son statut, de sa place dans la société, et ceci dans n’importe quelle catégorie
              professionnelle.
            </p>

            <p class="g-mb-30">Notre volonté, et le rôle que nous nous sommes attribué, est de valoriser tous les
              emplois quels qu’ils soient, sans distinction d’études, de salaire ou de position sociale. Elle s’appuie
              sur l’idée d’une société inclusive, où chacun a un rôle à jouer et a une place déterminante pour son
              fonctionnement. Personne ne doit être mis à l’écart, oublié ou déconsidéré que ce soit dans son parcours
              de formation ou son parcours professionnel.</p>

            <a class="btn btn-md u-btn-primary rounded-0 g-mr-15" [routerLink]="['/about-us']">A propos</a>
          </div>

          <div class="col-lg-6 align-self-center">
            <img class="img-fluid" src="assets/img/logo/AVPRO_Logo.svg" alt="Image Description">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
