.u-block-hover
  height: 100% !important
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center

.pillar-1
  background-color: #057797 !important

.pillar-2
  background-color: #258561 !important

.pillar-3
  background-color: #e4b102 !important
