<div class="clearfix">
  <div class="row row-eq-height no-gutters">
    <div class="col-lg-4">
      <!-- Icon Blocks -->
      <div class="pillar-1 u-block-hover g-bg-purple g-color-white text-center g-py-120 g-px-50">
            <span class="d-block g-font-size-50 g-rounded-5 mb-2">
                <i class="fas fa-chart-line"></i>
              </span>
        <h3 class="h3 g-font-weight-600 mb-30">Le pilier économique</h3>
        <p class="lead g-color-white-opacity-0_8 mb-5">il est au centre de notre société de consommation. L’idée d’une
          société durable implique la modification des modes de production et de consommation en introduisant des
          actions pour que la croissance économique ne se fasse pas au détriment de la cohésion sociale et de la
          protection de l’environnement ou pilier humain.</p>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4">
      <!-- Icon Blocks -->
      <div class="pillar-2 u-block-hover g-bg-teal g-color-white text-center g-py-120 g-px-50">
            <span class="d-block g-font-size-50 g-rounded-5 mb-2">
                <i class="fas fa-user-friends"></i>
              </span>
        <h3 class="h3 g-font-weight-600 mb-30">Le pilier social</h3>
        <p class="lead g-color-white-opacity-0_8 mb-5"> Il prend en compte la lutte contre
          l'exclusion sociale, la recherche d’une véritable équité sociale en favorisant la participation de chacun
          sur les grandes questions qui nous concernent : les conditions de travail, l'amélioration de la formation
          initiale et continue et le respect de la diversité et l’égalité des chances, la culture, etc.</p>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4">
      <!-- Icon Blocks -->
      <div class="pillar-3 u-block-hover g-bg-purple g-color-white text-center g-py-120 g-px-50">
            <span class="d-block g-font-size-50 g-rounded-5 mb-2">
               <i class="fas fa-globe-europe"></i>
              </span>
        <h3 class="h3 g-font-weight-600 mb-30">Le pilier environnemental</h3>
        <p class="lead g-color-white-opacity-0_8 mb-5">il s'agit du plus connu, mais le développement durable est
          souvent réduit à tort à ce seul pilier. Il est vrai que l'environnement est l'une des principales
          préoccupations, mais il ne peut s’envisager de façon isolée.</p>
      </div>
      <!-- End Icon Blocks -->
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-pt-100 g-pb-70"
         style="background-image: url(assets/img/bg/map-sketch.jpg);">
      <div class="g-pos-rel g-z-index-1">
        <!-- Heading -->
        <div class="g-max-width-750 text-center mx-auto g-mb-100">
          <h2 class="mb-4">AVPro, de par son champ d’action, entend contribuer pour que chaque individu ait la place qu’il entend occuper dans la société.</h2>
          <h2 class="mb-4">Les différences sont ici perçues comme des atouts et chacun est une ressource pour l’autre. </h2>
        </div>
        <!-- End Heading -->


      </div>
    </div>
  </div>
</section>
