<div class="shortcode-html">
  <!-- Call to Action -->
  <div class="g-pos-rel">
    <div class="container text-center g-pt-100 g-pb-50">
      <!-- Heading -->
      <div class="g-max-width-645 mx-auto g-mb-40">
        <h2 class="h1 mb-3">Intéressée?</h2>
        <p>AVPro, de par son champ d’action, entend contribuer pour que chaque individu ait la place qu’il entend
          occuper dans la société.
          Les différences sont ici perçues comme des atouts et chacun est une ressource pour l’autre.</p>
      </div>
      <!-- End Heading -->

      <a class="btn u-shadow-v33 g-color-white g-bg-primary g-bg-main--hover g-rounded-30 g-px-35 g-py-13"
         [routerLink]="['/register']">Rejoignez-nous !</a>

      <!-- SVG Shape -->
      <svg class="g-hidden-xs-down d-inline-block g-width-35" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37 1"
           enable-background="new 0 0 37 1" xml:space="preserve">
                    <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="37" y2="0.5">
                      <stop offset="0" style="stop-color:#f5f6fa"></stop>
                      <stop offset="1" style="stop-color:#b5b8cb"></stop>
                    </linearGradient>
        <line fill="none" stroke="url(#SVGID_5_)" stroke-miterlimit="10" x1="37" y1="0.5" x2="0" y2="0.5"></line>
                  </svg>
      <!-- End SVG Shape -->

      <span i18n class="g-hidden-xs-down align-middle g-color-primary mx-1">ou</span>

      <!-- SVG Shape -->
      <svg class="g-hidden-xs-down d-inline-block g-width-35" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37 1"
           enable-background="new 0 0 37 1" xml:space="preserve">
                    <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="-10" y1="-1.5" x2="27" y2="-1.5"
                                    gradientTransform="matrix(-1 0 0 -1 27 -1)">
                      <stop offset="0" style="stop-color:#f5f6fa"></stop>
                      <stop offset="1" style="stop-color:#b5b8cb"></stop>
                    </linearGradient>
        <line fill="none" stroke="url(#SVGID_6_)" stroke-miterlimit="10" x1="0" y1="0.5" x2="37" y2="0.5"></line>
                  </svg>
      <!-- End SVG Shape -->

      <a
        class="btn u-shadow-v32 g-color-primary g-color-white--hover g-bg-white g-bg-main--hover g-rounded-30 g-px-35 g-py-13"
        [routerLink]="['/contact']">Contactez nous</a>
    </div>

    <!-- SVG Background Shape -->
    <svg class="g-pos-abs g-bottom-0 g-left-0 g-z-index-minus-1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 323"
         enable-background="new 0 0 1920 323" xml:space="preserve">
                  <polygon fill="#f0f2f8" points="0,323 1920,323 1920,0 "></polygon>
      <polygon fill="#f5f6fa" points="-0.5,322.5 -0.5,131.5 658.3,212.3 "></polygon>
                </svg>
    <!-- End SVG Background Shape -->
  </div>
  <!-- End Call to Action -->
</div>
