<article class="g-mb-100">
  <div class="g-mb-30">
    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 g-font-size-12 text-uppercase mb-2">1 June 2017</span>
    <h2 class="h4 g-color-black g-font-weight-600 mb-3">
      <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">Exclusive interview with InVision's CEO</a>
    </h2>
    <p class="g-color-gray-dark-v4 g-line-height-1_8">Clark Valberg is the founder and CEO of InVision. If you are a designer, you have probably gotten an email from Clark or from InVision at one time or another, but if you’re not familiar with the company.</p>
    <a class="g-font-size-13" href="#">Read more...</a>
  </div>

  <ul class="list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
    <li class="list-inline-item g-color-gray-dark-v4 mr-2">
                  <span class="d-inline-block g-color-gray-dark-v4">
                      <img class="g-g-width-20 g-height-20 rounded-circle mr-2" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                      Alex Teseira
                    </span>
    </li>
    <li class="list-inline-item g-color-gray-dark-v4">
      <a class="d-inline-block g-color-gray-dark-v4 g-color-white--hover g-bg-gray-dark-v2--hover rounded g-transition-0_3 g-text-underline--none--hover g-px-15 g-py-5" href="#">
        <i class="align-middle g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
        10 Comments
      </a>
    </li>
    <li class="list-inline-item g-color-gray-dark-v4">
      <a class="d-inline-block g-color-gray-dark-v4 g-color-white--hover g-bg-gray-dark-v2--hover rounded g-transition-0_3 g-text-underline--none--hover g-px-15 g-py-5" href="#">
        <i class="align-middle g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>
        57 Likes
      </a>
    </li>
  </ul>
</article>
