<div class="container g-py-100">
  <div _ngcontent-ng-cli-universal-c6="" class="u-heading-v2-3--bottom g-brd-primary g-mb-30"
    ><h2 _ngcontent-ng-cli-universal-c6="" class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"
      >News</h2
    ></div
  >
  <app-featured-post *ngFor="let post of posts" [post]="post"></app-featured-post>
</div>
