<section class="g-py-100">
  <div class="container">
    <div id="shortcode9-2">
      <div class="shortcode-html">
        <header class="text-center g-mb-60">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Notre mission</h2>
          </div>
          <p class="lead g-px-200--lg">Pour mener à bien notre action,
            nous nous engageons à travers de deux axes de développement :
        </header>

        <div class="row">
          <div class="col-lg-6 g-mb-40 g-mb-0--lg">
            <img class="img-fluid" src="assets/img/undraw/undraw_goals_w8tw.svg" alt="Goals">
          </div>

          <div class="col-lg-6 align-self-center">
            <div class="media g-mb-20">
              <div class="media-body">
                <p></p>
              </div>
            </div>

            <div class="media g-mb-20">
              <div class="media-body">
                <h3 class="g-font-size-default g-font-weight-600 text-uppercase g-mb-5 text-center"><strong class="text-center g-font-weight-800 text-center">L’EDUCATION et le MARCHE DU TRAVAIL</strong></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

