<app-home-hero></app-home-hero>
<app-call-to-action></app-call-to-action>
<app-featured-posts></app-featured-posts>
<app-about-us-hero></app-about-us-hero>
<app-our-vision-hero></app-our-vision-hero>
<app-call-to-action-footer></app-call-to-action-footer>
