<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
  <div class="container">
    <div class="row">
      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">mentions légales</h2>
        </div>
        <ul class="list-unstyled g-mt-minus-10 mb-0">
          <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
            <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" [routerLink]="['/privacy']">Politique de confidentialité</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
          </li>
          <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
            <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" [routerLink]="['/impressum']">Impressum</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
          </li>
          <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
            <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/statuts.pdf" target="_blank">Statuts</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
          </li>
        </ul>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Dernières nouvelles</h2>
        </div>
        <div *ngFor="let post of posts">
          <article>
            <h3 class="h6 g-mb-2">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">{{post.title}}</a>
            </h3>
          </article>
          <hr class="g-brd-white-opacity-0_1 g-my-10">
        </div>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Liens</h2>
        </div>

        <nav class="text-uppercase1">
          <ul class="list-unstyled g-mt-minus-10 mb-0">
            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
              <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" [routerLink]="['/about-us']">A propos</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
            </li>
            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
              <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" [routerLink]="['/contact']">Contact</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
            </li>
          </ul>
        </nav>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Contact</h2>
        </div>

        <address class="g-bg-no-repeat g-font-size-12 mb-0"
                 >
          <!-- Location -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-map-marker"></i>
              </span>
            </div>
            <p class="mb-0">34, rue de la montagne<br>L-6470 Echternach</p>
          </div>
          <!-- End Location -->

          <!-- Phone -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <p class="mb-0">+352 621 316 655‬</p>
          </div>
          <!-- End Phone -->

          <!-- Email and Website -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
            </div>
            <p class="mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@avpro.lu">info@avpro.lu</a>
              <br>
            </p>
          </div>
          <!-- End Email and Website -->
        </address>
      </div>
      <!-- End Footer Content -->
    </div>
  </div>
</div>
